<%- include('../partials/header') %>
<h1> <%=user.name%>'s Den</h1>
<form action="/users/<%=user.id%>/characters/<%= charId %>/skills" method="POST">
    <br>
    <label for="focus">Choose Your Main Attack:</label>
    <br>
    <select id="attack" name="attack">Attack
        <option disabled selected hidden>Select</option>
        <option value="Swing">Swing</option>
        <option value="Cast">Cast</option>
        <option value="Arrow">Arrow</option>
    </select>
    <br>
    <label for="focus">Choose Your Healing Ability:</label>
    <br>
    <select id="heal" name="heal">Heal
        <option disabled selected hidden>Select</option>
        <option value="Heal">Heal</option>
        <option value="Raise">Raise</option>
        <option value="Shield">Shield</option>
    </select>
    <br>
    <label for="focus">Choose Your Defensive:</label>
    <br>
    <select id="defense" name="defense">Defense
        <option disabled selected hidden>Select</option>
        <option value="Parry">Parry</option>
        <option value="Reflect">Reflect</option>
        <option value="Dodge">Dodge</option>
    </select>
    <input id="sub" type="submit" value="Add Skills">
</form>
<br><br>

<%- include('../partials/footer') %>
