<%- include('../partials/header') %>

    <h1>LET'S PLAY GODS (again...)</h1>
    <h3>Re-Design your hero</h3>
    
    <form action="/users/<%=user.id%>/characters/<%= char.id %>?_method=PUT" method="POST" > 
        <label for="name">Character Name:</label>
    </br>
            <input required type="text" id="name" name="name" value="<%= char.name %>">
        </br></br>
            <label for="race">Choose a race:</label>
        </br>
            <select id="race" name="race" value="<%= char.race %>">
                <option <%- char.race === "Lizard-folk" ? "selected" : "" %> value="Lizard-folk">Lizard-folk</option>
                <option <%- char.race === "Pantherkin" ? "selected" : "" %> value="Pantherkin">Pantherkin</option>
                <option <%- char.race === "Human" ? "selected" : "" %> value="Human">Human</option>
            </select>
        </br></br>
            <label for="gender">Gender</label>
        </br>
            <select id="gender" name="gender" value="<%= char.gender %>">
                <option <%- char.gender === "Male" ? "selected" : "" %> value="Male">Male</option>
                <option <%- char.gender === "Female" ? "selected" : "" %> value="Female">Female</option>
            </select>
        <br><br>
            <label for="focus">Choose your combat focus:</label> 
        </br>
            <select id="focus" name="focus" value="<%= char.focus %>">
                <option <%- char.focus === "Warrior" ? "selected" : "" %> value="Warrior">Warrior</option>
                <option <%- char.focus === "Mage" ? "selected" : "" %> value="Mage">Mage</option>
                <option <%- char.focus === "Rogue" ? "selected" : "" %> value="Rogue">Rogue</option>
            </select>
        </br></br>
            <label for="role">Choose your battle role:</label>
        </br>
            <select id="role" name="role" value="<%= char.role %>">
                <option <%- char.role === "Damage-dealer" ? "selected" : "" %> value="Damage-dealer">Damage Dealer</option>
                <option <%- char.role === "Healer" ? "selected" : "" %> value="healer">Healer</option>
                <option <%- char.role === "Crowd-control" ? "selected" : "" %> value="Crowd-control">Crowd Control</option>
            </select>        
        </br></br>
            <input id="sub" type="submit" value="Update">
        </form>

        <form action="/users/<%=user.id%>/characters/<%= char.id %>?_method=DELETE" method="POST">
            <input id="Del" type="submit" value="DELETE">
        </form> 
        
    <%- include('../partials/footer') %>