<!-- <%- include('../partials/header') %>

    <table id="list">
        <thead>
          <tr class="charOpt">
            <th>Name</th></br>
            <th>Race</th></br>
            <th>Class</th></br>
            <th>Build</th></br>
          </tr>
        </thead>
        <tbody>
          <% characters.forEach(function(character) { %>
            <tr>
              <td><%= character.race%></td>
              <td><%= character.class %></td>
              <td><%= character.build %></td>
              <td><a href="/characters/<%= characters._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <a href="/characters/new">Create New character</a>

        <%- include('../partials/footer') %> -->
