<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table id="list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Race</th>
            <th>Class</th>
            <th>Build</th>
          </tr>
        </thead>
        <tbody>
          <% characters.forEach(function(character) { %>
            <tr>
              <td><%= character.race%></td>
              <td><%= character.class %></td>
              <td><%= character.build %></td>
              <td><a href="/characters/<%= characters._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <a href="/characters/new">Create New character</a>
  </body>
</html>

