<%- include('../partials/header') %>
<h1> <%=name%>'s Den</h1>
<div class="edit"></div>
    <% chars.forEach((char, index) => { %>
        <p>Name :
              <%= char.name %></p><br>
        <p>Race :
            <%= char.race %></p><br>
        <p>Gender :
            <%= char.gender %></p><br>
        <p>Focus :
            <%= char.focus %></p><br>
        <p>Role :
            <%= char.role %></p><br>
        <p> Skills : <hr></p>
        <p><%= char.skill.attack %><br>
            <%= char.skill.heal %><br>
            <%= char.skill.defense %></p><br>
        <a href="/users/<%= user._id %>/characters/<%= char.id %>/edit"><button>Edit</button></a>  
        <a href="/users/<%= user._id %>/characters/<%= char.id %>/skills/new"><button>Add Skill</button></a>    
  
        </div>  
    <% }) %>

<br><br>
<%- include('../partials/footer') %>
