<%- include('../partials/header') %>
<h1> <%=name%>'s Den</h1>

    <% chars.forEach((char, index) => { %>
       <div> <p><%= char.name %></p><br>
        <p><%= char.race %></p><br>
        <p><%= char.gender %></p><br>
        <p><%= char.focus %></p><br>
        <p><%= char.role %></p><br>
        <a href="/users/<%= user._id %>/characters/<%= char.id %>/edit"><button>edit</button></a>    
        </div>  
    <% }) %>

<br><br>
<%- include('../partials/footer') %>
